.navbar-inner{
 background-image: url(https://madsimonj.github.io/Content/img/IMG_4858.JPG);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}